# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/

# Parcel-related files
.parcelrc

# dependencies
/node_modules/

# Mac files
.DS_Store

# Visual Studio Code
.vscode/
.idea/

# yarn
yarn-error.log
yarn-lock.json (if you have npm as lock)
